.favorites {
  padding: 0 15px 93px;
  border-bottom: 2px solid rgba(222,222,222,.5);
}

.title {
  margin-top: 0;
  margin-bottom: 49px;
  font-size: 32px;
  line-height: 1.1429;
  font-weight: 700;
  font-style: oblique;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.locationsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 52px;
}

.locationsItems:last-child {
  margin-bottom: 0;
}

.favoritesEmpty {
  width: 100%;
  padding: 0 0 93px 38px;
}
