.card {
  position: relative;
}

.card:hover {
  opacity: 0.6;
}

.mark {
  position: absolute;
  top: -5px;
  left: -3px;
  padding: 5px 15px 5px 9px;
  font-size: 12px;
  line-height: 1.1667;
  font-weight: 700;
  color: #fff;
  background-color: #4481c3;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 3px;
}

.mark span {
  display: block;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

.imageWrapper {
  margin-bottom: 9px;
}

.image {
  display: block;
  width: 260px;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.price {
  margin-right: 20px;
}

.priceValue {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.priceText {
  font-size: 12px;
  line-height: 1.1667;
}

.bookmarkButton {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 18px;
  height: 19px;
  margin-top: 2px;
}

.rating {
  margin-bottom: 6px;
}

.name {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.223;
  font-weight: 700;
  font-style: oblique;
}

.name a {
  display: inline-block;
}

.name a:focus,
.name a:hover {
  opacity: 0.7;
}

.type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.1667;
}

/* Горизонтальная карточка */

.card--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card--horizontal .bookmarkButton {
  margin-top: 0;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

.card--horizontal .info {
  padding-top: 1px;
}

.card--horizontal .imageWrapper {
  width: 150px;
  flex-shrink: 0;
  margin-right: 16px;
  margin-bottom: 0;
}

.card--horizontal .image {
  width: 150px;
  height: 110px;
}
